<!DOCTYPE html>
<html xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>Vue </title>
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!--vue-->
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <!--vue.js resource-->
    <script src="https://cdn.bootcss.com/vue-resource/1.5.1/vue-resource.min.js"></script>
    <!--添加foxholder-->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="../css/style.css">
    <style>
        a{
            font-family: Arial,Helvetica,sans-serif;
            font-size: 20px;
            font-weight: bold;
            color: dimgrey;
            display: block ;
            width: 65%
        }
    </style>
</head>
<body>
<canvas id="canvas"></canvas>
<script src='../js/jreejo.js'></script>
<script  src="../js/index.js"></script>
<div class="container" id="app" style="position: absolute;left: 80px; top: 80px">
    <br>
    <br>
    <br>
    <div class="col-lg-6 center-block">
        <div class="input-group input-group-lg">
            <input type="text" class="form-control" id="id"  placeholder="input your id..." v-model="id">
            <br>
            <br>

            <input type="text" class="form-control" id="kind"  placeholder="input your kind..." v-model="kind">

            <span class="input-group-btn">
                <button class="btn btn-primary" type="button" v-on:click="get()">Go!</button>
      </span>
        </div><!-- /input-group -->
    </div><!-- /.col-lg-6 -->
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <!--<div class="list-group center-block">-->
    <!--</div>-->
    <div class="list-group center-block">
        <a href="#" class="list-group-item " style="background-color: lightblue" v-for="purchase in purchase_log">
            {{purchase.item}}</a>
    </div>
</div>

<script>
    new Vue({
        el: '#app',
        data: {
            id : 0,
            kind : 0,
            purchase_log : []
        },
        mounted:function(){

        },
        methods:{
            get:function () {
                var url = "http://localhost:8080/purchase/recommand?id="
                    .concat(this.id).concat("&kind=").concat(this.kind) ;
                // axios.get(url, {
                //     params: {
                //         id:this.id,
                //         kind : this.kind
                //     }
                // })
                //     .then(function (response) {
                //         console.log(response.json);
                //     })
                //     .catch(function (error) {
                //         console.log(error);
                //     });
                this.$http.get(url).then(function (res) {
                    this.purchase_log = res.data ;

                },function (res) {
                    console.log("failure")
                });
            },
            show:function () {
                alert(this.cn_hero['2'])
            },
            get_arrangement:function (heroes) {
                var hero_list = heroes.split(" ")

            }
        }
    });
</script>
</body>
</html>